
$width: 100%;
$main-width: 70%;
$aside-width: $width - $main-width;

.l-main {
  display: flex;
  justify-content: center;

  & main,
  & aside {
    @extend %none;
  }

  & main {
    width: $main-width;
  }

  & aside {
    width: $aside-width;
  }
}