//------------------------------------------------------------------------------
//                       Splash Configuration
//------------------------------------------------------------------------------

$conf-c-splash: (
  title-color: rgb(241, 175, 115),
  maxTime-bg-color: rgb(95, 158, 160),
  input: (
    border-radius: 30px,
  ),
  button: (
    color: rgba(255, 255, 255, .7),
    hover-color: rgba(255, 255, 255, 1),
    background-color: rgb(185, 35, 77),
    hover-background-color: rgb(255, 60, 115)
  )
);


//------------------------------------------------------------------------------
//                       Puzzle Configuration
//------------------------------------------------------------------------------


$conf-c-puzzle: (
  hexagon: (
    width:  106px,
    height: 98px
  )
);


//------------------------------------------------------------------------------
//                       Info Configuration
//------------------------------------------------------------------------------

$conf-c-info: (
  color: rgba(255, 255, 255, .5),
  counterClock-font-size: 4em,
  active-elements: (
    txt-color: rgba(255, 255, 255, 1),
    icon-bg-color: rgba(255, 255, 255, .24)
  ),
  navigation: (
    font-size: 1.3em,
    border-bottom: 2px solid rgb(21, 147, 0)
  ),
  clock: (
    width: 80%,
    height: 300px,
    bg-color: rgba(0, 0, 0, 0)
  ),
  stats: (
    font-size: 1.2em,
    bg-color: rgb(246, 55, 103),
    padding: 5px
  ),
  button: (
    height: 50px,
    width: 200px,
    font-size: 1em,
    border: '1px solid rgba(255, 255, 255, 0.24)',
    bg-color: rgba(255, 255, 255, 0.8),
    bg-color-hov: rgb(254, 190, 120),
    border-radius: 3px,
  )
);

