//------------------------------------------------------------------------------
//                       Puzzle Configuration
//------------------------------------------------------------------------------


$conf-c-puzzle: (
  hexagon: (
    width:  106px,
    height: 98px
  )
);
